# üìò Learn SQL Expressions for Joins and Views

---

## ‚úÖ Module Recap

- **Nested subqueries** in SQL  
- **Data modification processes** (`INSERT`, `UPDATE`, `DELETE`)

---

## üéØ Module Objectives

- Understand how to write **SQL expressions for joins**  
- Learn how to create and manage **views** in SQL

---

## üß± Module Outline

### üîπ 1. Join Expressions  
### üîπ 2. Views

---

## üîÑ Joined Relations in SQL

Joining allows combining **two or more tables** based on a related column.

---

## üî∏ Types of Joins Between Relations

### üîπ 1. **Cross Join**

Combines **every row of one table** with **every row of another** ‚Äî results in a **Cartesian product**.

#### üî∏ Explicit Syntax:
```sql
SELECT * FROM A CROSS JOIN B;
```

#### üî∏ Implicit Syntax:
```sql
SELECT * FROM A, B;
```

üõë Use with caution ‚Äî if A has `m` rows and B has `n`, result = `m √ó n`.

---

### üîπ 2. **Inner Join**

Returns rows with **matching values** in both tables.

#### üî∏ a. **Equi Join**
```sql
SELECT s.name, d.dept_name
FROM student s
JOIN department d
ON s.dept_id = d.dept_id;
```

#### üî∏ b. **Natural Join**
```sql
SELECT * FROM student NATURAL JOIN department;
```

---

### üîπ 3. **Outer Join**

Includes unmatched rows from one or both tables by inserting `NULL` where there's no match.

#### a. **Left Outer Join**
```sql
SELECT s.name, d.dept_name
FROM student s
LEFT OUTER JOIN department d
ON s.dept_id = d.dept_id;
```

#### b. **Right Outer Join**
```sql
SELECT s.name, d.dept_name
FROM student s
RIGHT OUTER JOIN department d
ON s.dept_id = d.dept_id;
```

#### c. **Full Outer Join**
```sql
SELECT s.name, d.dept_name
FROM student s
FULL OUTER JOIN department d
ON s.dept_id = d.dept_id;
```

---

### üîπ 4. **Self Join**

Joins a table with itself using table aliases.

```sql
SELECT e1.name AS employee, e2.name AS manager
FROM employee e1
JOIN employee e2
ON e1.manager_id = e2.emp_id;
```

---

## üëÅÔ∏è Views in SQL

### üìå What is a View?
A **view** is a **virtual table** based on the result of a `SELECT` query. It doesn‚Äôt store data itself but acts like a window to access data in real tables.

---

### ‚úÖ View Definition Syntax:
```sql
CREATE VIEW high_salary AS
SELECT name, salary
FROM employee
WHERE salary > 10000;
```

---

### üìã Querying a View:
```sql
SELECT * FROM high_salary;
```

---

### üîÅ Views Defined Using Other Views
```sql
CREATE VIEW top_paid AS
SELECT name
FROM high_salary
WHERE salary > 15000;
```

---

## üîç View Expansion

When a query references a view, the DBMS **expands** the view into its underlying query. 
This helps with optimization but has **limitations in updates**.

---

## ‚úèÔ∏è Updating Views

You can sometimes update data **through views**, but **only when the update can be unambiguously translated** to base tables.

```sql
UPDATE high_salary
SET salary = salary + 500
WHERE name = 'Alice';
```

‚úÖ Works only if:
- View references **one base table**
- Updated columns are **not derived**
- View does **not use** JOIN, GROUP BY, DISTINCT, aggregates

---

## ‚ùå Updates That Cannot Be Translated

Some updates **cannot** be translated uniquely:
```sql
-- Not allowed if view uses GROUP BY or aggregation
UPDATE high_salary
SET name = 'Bob'
WHERE salary = 20000;
```

---

## üóÉÔ∏è Materialized Views

Unlike regular views, a **materialized view stores data physically**. It can be refreshed periodically for performance.

```sql
CREATE MATERIALIZED VIEW dept_avg AS
SELECT dept_id, AVG(salary) AS avg_salary
FROM employee
GROUP BY dept_id;
```

---

## üß† Summary

| Concept            | Description                             |
|--------------------|-----------------------------------------|
| Cross Join         | Cartesian product                       |
| Inner Join         | Matching rows only                      |
| Outer Join         | Includes unmatched rows                 |
| Self Join          | Join table with itself                  |
| View               | Virtual table from SELECT query         |
| Materialized View  | Physically stores result of a view      |
| View Expansion     | Substitutes view with its definition    |
| Updatable Views    | Limited: Must follow certain rules      |